@{
    ViewData["Title"] = "Push";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Push</h1>

<form>
	<div class="form-group">
		<label for="Name">DeviceId</label>
		
		<input value="@ViewBag.DeviceId" class="form-control" type="text" placeholder="Add Brand Name Here .. " id="DeviceId">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Title</label>
		<input class="form-control" type="text" placeholder="Add Phone Here .. " id="Title">
		<br />

	</div>
	<div class="form-group">
		<label for="Photo">Body</label>
		<input type="text" class="form-control" id="Body">
	</div>
	<div class="col-12">
		<button id="sub" type="button" class="btn btn-lg btn-primary">Save</button>
		<button type="reset" class="btn btn-danger btn-lg">Cancel</button>
	</div>


</form>

@section scripts{
	<script src="~/js/push.js"></script>
		
}
@*<script>
	$("#sub").click(() => {
		let obj =
		{
			deviceId: "string",
			isAndroiodDevice: true,
			title: "string",
			body: "string"
		}
		{
			decviceID: $(""),
			title: 'sdsd',
			body: 'asdasdasd'
		}
		$.ajax({
			method: 'POST'
			url: '/api/NotificationApi/send',
			data: obj,
			success: function (res) {
				console.log('Done');
			}
		})

	})

</script>*@