@model Complaints_SuggestionsVM;
@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
	<h1> Details Complaints and Suggestions</h1>
</center>

<!-- // Basic multiple Column Form section start -->
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Details</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" asp-action="Delete" asp-controller="Complaints_Suggestions">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-label-group">
                                            <input asp-for="Id" type="text" id="first-name-column" class="form-control" placeholder="Id" readonly>
                                            <label asp-for="Id">Id</label>
                                        </div>
                                        <div class="form-label-group">
                                            <input asp-for="Details" type="text" id="first-name-column" class="form-control" placeholder="Details" readonly>
                                            <label asp-for="Details">Details</label>
                                        </div>
                                    </div>



                                    <div class="col-12">
                                        <button asp-action="Index" asp-controller="Complaints_Suggestions" type="submit" class="btn btn-primary mr-1 mb-1">Back to Index</button>
                                        <button type="reset" class="btn btn-outline-danger mr-1 mb-1">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic Floating Label Form section end -->