@model IEnumerable<Complaints_SuggestionsVM>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1 class="mb-2">
       All Complaints and Suggestions
    </h1>
</center>



<!-- Scroll - horizontal and vertical table -->
<section id="horizontal-vertical">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Complaints & Suggestions </h4>
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                            <table class="table nowrap scroll-horizontal-vertical">
                                <thead>
                                    <tr>
                                        <th>Complians</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model) {
                                        <tr>
                                            <td>@item.Details</td>
                                            <td class="product-action">
                                                <a asp-action="Details" asp-controller="Complaints_Suggestions" class="btn btn-success" asp-route-id="@item.Id">
                                                    Details
                                                </a>
                                            </td>
                                            <td class="product-action">
                                                <a asp-action="Delete" asp-controller="Complaints_Suggestions" class="btn btn-danger" asp-route-id="@item.Id">
                                                   Delete
                                                </a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Scroll - horizontal and vertical table -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="//cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#TEP').DataTable();
    });
</script>